<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header-left">
					<div class="documents-header-left__arrow" (click)="back()">
						<span class="material-icons">arrow_back_ios</span>
					</div>
					<div
						class="documents-header-left__avatar"
						routerLink="/profile"
					>
						<img [src]="userService.thumb" alt="" />
					</div>
				</div>
				<div class="documents-header__title">Title header</div>
			</div>

			<div class="documents-main">
				<div class="documents-main-content">
					<div class="documents-main-row">
						<div class="documents__title">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit.
						</div>
						<div class="documents__description"></div>
					</div>

					<div class="documents-main-row">
						<div class="documents__title">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit.
						</div>
						<a class="documents__btn">Press button</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
