<!--
<div class="index">
	<img class="index-avatar" src="img/avatar.png" alt="" />

	<div class="index-title">Welcome to WAW Template</div>
	<div class="index-readme">
		<div class="index-readme__item">
			To create new page you can type in terminal:
			<span class="index-readme__code">waw page NAME</span>
		</div>
		<div class="index-readme__item">
			You can change port in
			<span class="index-readme__code">config.json</span>
			of development webiste
			<a class="index-readme__link" href="http://localhost:8000">localhost:8000</a>
		</div>
		<div class="index-readme__item">
			JSON in template.json is accesible over all pages
		</div>
		<div class="index-readme__item">
			JSON in page.json of each page is accesible only of that specific
			page
		</div>
		<div class="index-readme__item">
			To build project you can type in terminal:
			<span class="index-readme__code">waw build</span>
			which will take JSON info and put it into html of dist folder.
		</div>
		<div class="index-readme__item">
			General idea of variables, is that you can modify those on back-end or over
			<span class="index-readme__code">config.json</span>
		</div>
		<div class="index-readme__item">
			More details of how to use template you can find in
			<a class="index-readme__link" href="https://webartwork.github.io/wjst/docs">Wjst Documentation</a>
		</div>
		<div class="index-readme__item">
			Styles: You should import each file to
			<span class="index-readme__code">index.scss </span> located in
			<span class="index-readme__code">css</span> folder and write SCSS
			files in <span class="index-readme__code">css/scss</span>.
		</div>
	</div>
	<div class="index-readme">
		<div class="index-readme__title">Prefix:</div>
		<div class="index-readme__item">
			Prefix which we have in template.json serve as root id for the
			template
		</div>
		<div class="index-readme__item">
			For example file
			<span class="index-readme__code">img/avatar.png</span>
			can be served in html
			<span class="index-readme__code">src="img/avatar.png"</span>
			were our path is
			<span class="index-readme__code">{prefix}{path}</span>
		</div>
		<div class="index-readme__item">
			Prefix should be unique on project where we have more then one
			template to serve files properly
		</div>
		<div class="index-readme__item">
			To change prefix, you need simply to replace all in editor phrase
			`/wjst-default` into new prefix `/newPrefixName`
		</div>
		<div class="index-readme__item">
			To get served template by github pages, you simply have to replace
			prefix to name of the repo and do
			<span class="index-readme__code">waw build</span>
			and then commit to branch which you set in settings > pages
			<span class="index-readme__code">{repo}/settings/pages</span>
			and after that you should able to see your wesite online, similar
			this default repo is shown
			<a class="index-readme__link"
				href="https://webartwork.github.io/wjst-default">webartwork.github.io/wjst-default</a>
		</div>
	</div>
</div>
-->

<div class="conference-wrapper">
	<div class="conference-join">
		<div class="conference-join__text">
			Joing on event? Enter your id here
		</div>
		<form action="">
			<div class="conference-join__input">
				<input type="text" placeholder="Enter id" />
				<button class="conference-join__btn">
					<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
						<title />
						<g data-name="Layer 2" id="Layer_2">
							<path
								d="M22,9a1,1,0,0,0,0,1.42l4.6,4.6H3.06a1,1,0,1,0,0,2H26.58L22,21.59A1,1,0,0,0,22,23a1,1,0,0,0,1.41,0l6.36-6.36a.88.88,0,0,0,0-1.27L23.42,9A1,1,0,0,0,22,9Z"
							/>
						</g>
					</svg>
				</button>
			</div>
		</form>
	</div>
	<div class="conference-about">
		<div class="conference-about-text">
			<div class="conference-about-text__title">
				Your ultimate app for participant engagement!
			</div>
			<div class="conference-about-text__description">
				Effortlessly receive questions, design presentations, and create
				interactive polls, quizzes, word clouds, and more with our
				all-in-one platform. Build impactful and engaging participant
				experiences without the hassle.
			</div>
		</div>
		<div class="conference-about-img">
			<img src="img/about.svg" alt="" />
		</div>
	</div>
	<div class="conference-triggers">
		<div class="conference-triggers__title">
			The essential app for all your events and seminars whether
			in-person, virtual, or hybrid.
		</div>
		<div class="conference-triggers-list">
			<div class="conference-triggers__wrap">
				<div class="conference-triggers__item">
					<div class="conference-triggers__img">
						<img src="img/conf/1.svg" alt="" />
					</div>
					<div class="conference-triggers__text">Conferences</div>
				</div>
			</div>
			<div class="conference-triggers__wrap">
				<div class="conference-triggers__item">
					<div class="conference-triggers__img">
						<img src="img/conf/2.svg" alt="" />
					</div>
					<div class="conference-triggers__text">
						Workshops & seminars
					</div>
				</div>
			</div>
			<div class="conference-triggers__wrap">
				<div class="conference-triggers__item">
					<div class="conference-triggers__img">
						<img src="img/conf/3.svg" alt="" />
					</div>
					<div class="conference-triggers__text">
						Trade shows & exhibitions
					</div>
				</div>
			</div>
			<div class="conference-triggers__wrap">
				<div class="conference-triggers__item">
					<div class="conference-triggers__img">
						<img src="img/conf/4.svg" alt="" />
					</div>
					<div class="conference-triggers__text">Training events</div>
				</div>
			</div>
			<div class="conference-triggers__wrap">
				<div class="conference-triggers__item">
					<div class="conference-triggers__img">
						<img src="img/conf/5.svg" alt="" />
					</div>
					<div class="conference-triggers__text">
						Networking events
					</div>
				</div>
			</div>
			<div class="conference-triggers__wrap">
				<div class="conference-triggers__item">
					<div class="conference-triggers__img">
						<img src="img/conf/6.svg" alt="" />
					</div>
					<div class="conference-triggers__text">
						Registration & Check in
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="conference-why">
		<div class="conference-why__title">Why Conference WAW?</div>
		<div class="conference-why-text">
			<ul class="conference-why-text-list">
				<li>
					<div class="conference-why-text-list__img">
						<svg
							width="28"
							height="28"
							viewBox="0 0 28 28"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<g clip-path="url(#clip0_21_631)">
								<path
									fill-rule="evenodd"
									clip-rule="evenodd"
									d="M24.8889 0H3.11111C1.4 0 0 1.4 0 3.11111V24.8889C0 26.6 1.4 28 3.11111 28H24.8889C26.6 28 28 26.6 28 24.8889V3.11111C28 1.4 26.6 0 24.8889 0ZM10.8889 21.7778L3.11111 14L5.28889 11.8222L10.8889 17.4222L22.7111 5.6L24.8889 7.77778L10.8889 21.7778Z"
									fill="#F8EC20"
								/>
							</g>
							<defs>
								<clipPath id="clip0_21_631">
									<rect width="28" height="28" fill="white" />
								</clipPath>
							</defs>
						</svg>
					</div>
					<div class="conference-why-text-list__text">
						<div class="conference-why-text-list__text-title">
							Exceptional Value
						</div>
						<div class="conference-why-text-list__text-description">
							Get more for less without compromising quality.
						</div>
					</div>
				</li>
				<li>
					<div class="conference-why-text-list__img">
						<svg
							width="28"
							height="28"
							viewBox="0 0 28 28"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<g clip-path="url(#clip0_21_631)">
								<path
									fill-rule="evenodd"
									clip-rule="evenodd"
									d="M24.8889 0H3.11111C1.4 0 0 1.4 0 3.11111V24.8889C0 26.6 1.4 28 3.11111 28H24.8889C26.6 28 28 26.6 28 24.8889V3.11111C28 1.4 26.6 0 24.8889 0ZM10.8889 21.7778L3.11111 14L5.28889 11.8222L10.8889 17.4222L22.7111 5.6L24.8889 7.77778L10.8889 21.7778Z"
									fill="#F8EC20"
								/>
							</g>
							<defs>
								<clipPath id="clip0_21_631">
									<rect width="28" height="28" fill="white" />
								</clipPath>
							</defs>
						</svg>
					</div>
					<div class="conference-why-text-list__text">
						<div class="conference-why-text-list__text-title">
							Effortless Setup
						</div>
						<div class="conference-why-text-list__text-description">
							Launch your app within minutes—no technical skills
							needed.
						</div>
					</div>
				</li>
				<li>
					<div class="conference-why-text-list__img">
						<svg
							width="28"
							height="28"
							viewBox="0 0 28 28"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<g clip-path="url(#clip0_21_631)">
								<path
									fill-rule="evenodd"
									clip-rule="evenodd"
									d="M24.8889 0H3.11111C1.4 0 0 1.4 0 3.11111V24.8889C0 26.6 1.4 28 3.11111 28H24.8889C26.6 28 28 26.6 28 24.8889V3.11111C28 1.4 26.6 0 24.8889 0ZM10.8889 21.7778L3.11111 14L5.28889 11.8222L10.8889 17.4222L22.7111 5.6L24.8889 7.77778L10.8889 21.7778Z"
									fill="#F8EC20"
								/>
							</g>
							<defs>
								<clipPath id="clip0_21_631">
									<rect width="28" height="28" fill="white" />
								</clipPath>
							</defs>
						</svg>
					</div>
					<div class="conference-why-text-list__text">
						<div class="conference-why-text-list__text-title">
							Comprehensive Solution
						</div>
						<div class="conference-why-text-list__text-description">
							Streamline your needs with a single platform,
							eliminating the hassle of juggling multiple links.
						</div>
					</div>
				</li>
				<li>
					<div class="conference-why-text-list__img">
						<svg
							width="28"
							height="28"
							viewBox="0 0 28 28"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<g clip-path="url(#clip0_21_631)">
								<path
									fill-rule="evenodd"
									clip-rule="evenodd"
									d="M24.8889 0H3.11111C1.4 0 0 1.4 0 3.11111V24.8889C0 26.6 1.4 28 3.11111 28H24.8889C26.6 28 28 26.6 28 24.8889V3.11111C28 1.4 26.6 0 24.8889 0ZM10.8889 21.7778L3.11111 14L5.28889 11.8222L10.8889 17.4222L22.7111 5.6L24.8889 7.77778L10.8889 21.7778Z"
									fill="#F8EC20"
								/>
							</g>
							<defs>
								<clipPath id="clip0_21_631">
									<rect width="28" height="28" fill="white" />
								</clipPath>
							</defs>
						</svg>
					</div>
					<div class="conference-why-text-list__text">
						<div class="conference-why-text-list__text-title">
							Limitless Customization
						</div>
						<div class="conference-why-text-list__text-description">
							Tailor your app with versatile features and
							extensive personalization options to match your
							vision.
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="conference-why-img">
			<img src="img/why.svg" alt="" />
		</div>
	</div>
	<div class="what-get">
		<div class="what-get__title">What You Get ?</div>
		<div class="what-get-list">
			<div class="what-get__wrap">
				<div class="what-get__item">
					<div class="what-get-img">1</div>
					<div class="what-get-text">
						<div class="what-get-text__title">
							Full Interactivity
						</div>
						<div class="what-get-text__description">
							Live chats, polls, Q&A lists, and instant reactions
							turn participants into active contributors, not
							passive spectators.
						</div>
					</div>
				</div>
			</div>
			<div class="what-get__wrap">
				<div class="what-get__item">
					<div class="what-get-img">2</div>
					<div class="what-get-text">
						<div class="what-get-text__title">
							Professional Tools for Speakers
						</div>
						<div class="what-get-text__description">
							Speakers gain personalized dashboards to manage
							presentations, collect questions, and conduct polls
							in real time.
						</div>
					</div>
				</div>
			</div>
			<div class="what-get__wrap">
				<div class="what-get__item">
					<div class="what-get-img">3</div>
					<div class="what-get-text">
						<div class="what-get-text__title">
							Audience Engagement
						</div>
						<div class="what-get-text__description">
							Participants can ask questions, vote, and share
							ideas, creating a dynamic and lively atmosphere.
						</div>
					</div>
				</div>
			</div>
			<div class="what-get__wrap">
				<div class="what-get__item">
					<div class="what-get-img">4</div>
					<div class="what-get-text">
						<div class="what-get-text__title">
							Maximum Convenience
						</div>
						<div class="what-get-text__description">
							Intuitive tools make event planning seamless, saving
							you time and ensuring a smooth preparation process.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="contacts">
		<div class="contacts__title">Contacts</div>
		<div class="contacts-wrap">
			<div class="contacts-img">
				<img src="img/contact.svg" alt="" />
			</div>
			<div class="contacts-form">
				<form action="">
					<div class="contacts-name">
						<div class="contacts-name__input">
							<label for="">
								<span>First name</span>
								<input type="text" placeholder="" />
							</label>
						</div>
						<div class="contacts-name__input">
							<label for="">
								<span>Last name</span>
								<input type="text" placeholder="" />
							</label>
						</div>
					</div>
					<div class="contacts-email">
						<label for="">
							<span>Email adress</span>
							<input type="text" />
						</label>
					</div>
					<div class="contacts-subject">
						<label for="">
							<span>Subject</span>
							<input type="text" />
						</label>
					</div>
					<div class="contacts-message">
						<label for="">
							<span>Message</span>
							<textarea name="" id=""></textarea>
						</label>
					</div>
					<div class="contacts-btn">
						<button class="btn">Send message</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
