.alert {
	&-wrap {
		display: flex;
		flex-flow: row wrap;
		padding: 5px;
		border-radius: var(--b-radius);
		margin-bottom: 10px;
		position: relative;
		align-items: center;
		&-img {
			margin-right: 15px;
			display: flex;
			svg {
				width: 30px;
				height: 30px;
			}
		}
		&-text {
			&__title {
				font-size: 16px;
				font-weight: 600;
			}
			&__description {
				font-size: 16px;
			}
		}
		&-close {
			position: absolute;
			width: 20px;
			height: 20px;
			right: 10px;
			top: 10px;
			transition: all 0.3s;
			cursor: pointer;
			&:hover {
				transform: scale(0.8);
			}
			svg {
				width: 100%;
				height: 100%;
			}
		}
	}
	&-block {
		max-width: 315px;
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		background-color: #363636;
		border-radius: 4px;
		padding: 25px 35px;
		text-align: center;
		&--white {
			background: white;
			color: black;
		}
		&__text {
			font-weight: 700;
			font-size: 17px;
		}
		&__description {
			font-size: 14px;
			padding: 5px 0 10px 0;
		}
		&-btns {
			display: flex;
			width: 100%;
			justify-content: center;
			&__btn {
				max-width: 80px;
				width: 100%;
				flex: 0 0 80px;
				height: 40px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 17px;
				color: #ffffff;
				cursor: pointer;
				border-radius: 4px;
				margin: 0 5px;
				transition: all 0.3s;
				&-yes {
					background-color: #296028;
					&:hover {
						background: #358834;
					}
				}
				&-no {
					background-color: #8c2d2d;
					&:hover {
						background: #b13c3c;
					}
				}
			}
		}
	}
	&-info {
		background: var(--c-primary-hover);
		color: var(--c-primary);
	}
	&-error {
		background: var(--c-error);
		svg {
			path {
				fill: var(--c-text-primary);
			}
		}
	}
	&-success {
		background: var(--c-success);
	}
	&-warning {
		background: var(--c-orange);
	}
	&-question {
		background-color: var(--c-question);
	}
	&-loading {
		background-color: var(--c-loading);
	}
}
