<div class="calendar-nav">
	<div class="calendar-nav__today">
		<wbutton (click)="setNow()">Сьогодні</wbutton>
	</div>
	<div class="calendar-nav-year">
		<div class="calendar-nav-year__buttons">
			<i (click)="setPreviousMonth()" class="material-icons arrow-back">
				<svg
					width="34"
					height="34"
					viewBox="0 0 14 14"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M8.94961 2.7043L8.89219 2.75352L4.61289 6.47227C4.46797 6.59805 4.37773 6.78672 4.37773 6.99727C4.37773 7.20781 4.4707 7.39648 4.61289 7.52227L8.88398 11.2383L8.95508 11.3012C9.02344 11.3477 9.10547 11.375 9.19297 11.375C9.43086 11.375 9.625 11.1727 9.625 10.9211L9.625 3.07891C9.625 2.82734 9.43086 2.625 9.19297 2.625C9.10273 2.625 9.01797 2.65508 8.94961 2.7043Z"
						fill="black"
					/>
				</svg>
			</i>
			<div class="calendar-nav-year__data">
				<span>{{monthTitle[currentMonth]}}</span>
				<span>{{currentYear}}</span>
			</div>
			<i (click)="setNextMonth()" class="material-icons arrow-next">
				<svg
					width="34"
					height="34"
					viewBox="0 0 14 14"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M5.05039 11.2957L5.10781 11.2465L9.38711 7.52773C9.53203 7.40195 9.62227 7.21328 9.62227 7.00273C9.62227 6.79219 9.5293 6.60352 9.38711 6.47773L5.11602 2.76172L5.04492 2.69883C4.97656 2.65234 4.89453 2.625 4.80703 2.625C4.56914 2.625 4.375 2.82734 4.375 3.07891V10.9211C4.375 11.1727 4.56914 11.375 4.80703 11.375C4.89727 11.375 4.98203 11.3449 5.05039 11.2957Z"
						fill="black"
					/>
				</svg>
			</i>
		</div>
	</div>
</div>

<div class="calendar" [class.calendar-mobile]="isMobile">
	<div *ngFor="let week of weeksInMonth; index as i" class="calendar__row">
		<span class="calendar__week">{{week}}</span>
		<span
			(click)="dateClicked(
				(!i && skipDays >= day) ?
					toDate(previousYear, previousMonth, startDay + day) :
					(i === weeksInMonth.length - 1 && keepDays < day) ?
						toDate(nextYear, nextMonth, day - keepDays) :
						toDate(currentYear, currentMonth, day + (i * 7) - skipDays)
			)"
			*ngFor="let day of [1, 2, 3, 4, 5, 6, 7]"
			class="calendar__day"
		>
			<!-- extra row on first row -->
			<span *ngIf="!i" class="calendar__day-name">{{dayTitle[day]}}</span>

			<!-- previous month dates -->
			<span class="calendar__stard-day" *ngIf="!i && skipDays >= day">
				<span class="calendar__stard-day">{{startDay + day}}</span>
				<div>
					<div
						class="calendar-events"
						*ngFor="let appointment of eventsByDate[toDate(previousYear, previousMonth, startDay +
					day)]"
						(click)="eventClicked(appointment); $event.stopPropagation()"
					>
						<!--

							<span class="calendar-events__text"
							>{{appointment.from}} - {{appointment.to}}</span
						>
						<div class="calendar-events__time">
							{{appointment.fromTime}}
						</div>
						-->
						<!-- <div class="calendar-events__row">
							<div class="calendar-events__column">
								<div class="calendar-events__name">
									{{appointment.from}}
								</div>
								<div class="calendar-events__time">
									{{appointment.fromTime}}
								</div>
							</div>
							<div class="calendar-events__column">
								<div class="calendar-events__name">
									{{appointment.to}}
								</div>
								<div class="calendar-events__time">
									{{appointment.toTime}}
								</div>
							</div>
						</div>
						<div class="calendar-events__row">
							<div class="calendar-events__column">
								<div class="calendar-events__name">
									{{appointment.name}}
								</div>
								<div class="calendar-events__time">
									{{appointment.phone}}
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</span>

			<!-- this month dates  -->
			<span
				*ngIf="
					(i && i !== weeksInMonth.length - 1) ||
					(i === weeksInMonth.length - 1 && keepDays >= day) ||
					(!i && skipDays < day)
				"
			>
				<div class="calendar__stard-day">
					{{day + (i * 7) - skipDays}}
				</div>
				<div>
					<div
						class="calendar-events"
						*ngFor="let appointment of eventsByDate[toDate(currentYear, currentMonth, day + (i * 7) - skipDays)]"
						(click)="eventClicked(appointment); $event.stopPropagation()"
					>
						<!-- <div class="calendar-events__row">
							<div class="calendar-events__column">
								<div class="calendar-events__name">
									{{appointment.from}}
								</div>
								<div class="calendar-events__time">
									{{appointment.fromTime}}
								</div>
							</div>
							<div class="calendar-events__column">
								<div class="calendar-events__name">
									{{appointment.to}}
								</div>
								<div class="calendar-events__time">
									{{appointment.toTime}}
								</div>
							</div>
						</div>
						<div class="calendar-events__row">
							<div class="calendar-events__column">
								<div class="calendar-events__name">
									{{appointment.name}}
								</div>
								<div class="calendar-events__time">
									{{appointment.phone}}
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</span>

			<!-- next month dates -->
			<span *ngIf="i === weeksInMonth.length - 1 && keepDays < day">
				<div>{{day - keepDays}}</div>
				<div>
					<div
						class="calendar-events"
						*ngFor="let appointment of eventsByDate[toDate(nextYear, nextMonth, day - keepDays)]"
						(click)="eventClicked(appointment); $event.stopPropagation()"
					>
						<!-- <span class="calendar-events__text"
							>{{appointment.from}} - {{appointment.to}}</span
						>
						<div class="calendar-events__time">
							<span>{{appointment.fromTime}}</span>
							<span>{{appointment.toTime}}</span>
						</div> -->
					</div>
				</div>
			</span>
		</span>
	</div>
</div>
