<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header-left">
					<div class="documents-header-left__arrow" (click)="back()">
						<span class="material-icons">arrow_back_ios</span>
					</div>
					<div
						class="documents-header-left__avatar"
						routerLink="/profile"
					>
						<img [src]="userService.thumb" alt="" />
					</div>
				</div>
				<div class="documents-header__title">Title header</div>
				<div
					(click)="isMenuOpen = !isMenuOpen"
					class="burger-wrap"
					class="burger-wrap"
				>
					<div
						[class.burger--close]="isMenuOpen"
						class="burger"
					></div>
				</div>
			</div>
			<div
				[class.documents-sidebar--open]="isMenuOpen"
				class="documents-sidebar"
			>
				<div
					(click)="isMenuOpen = !isMenuOpen"
					class="documents-sidebar__close"
				>
					<span class="material-icons">close</span>
				</div>
				<div class="documents-sidebar-content">
					<div class="documents-sidebar__img">
						<img src="assets/default.png" alt="" />
					</div>
					<div class="documents-sidebar__title">
						Title of sidebar...
					</div>
					<div class="documents-sidebar__description">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Sint molestiae consequatur quae. Modi corporis rem amet
						tempore debitis assumenda minima repellat labore
						expedita quam. Itaque accusamus culpa ullam
						necessitatibus nisi.
					</div>
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div class="documents-main-row">
						<div class="documents__title">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit.
						</div>
						<div class="documents__description">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Mollitia voluptatum facilis sit
							necessitatibus, rem consectetur pariatur sapiente
							incidunt laudantium praesentium aut iste omnis
							suscipit autem deleniti, nisi temporibus obcaecati
							eligendi?
						</div>
					</div>
					<div class="documents-main-row">
						<div class="documents__title">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit.
						</div>
						<div class="documents__description">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Mollitia voluptatum facilis sit
							necessitatibus, rem consectetur pariatur sapiente
							incidunt laudantium praesentium aut iste omnis
							suscipit autem deleniti, nisi temporibus obcaecati
							eligendi?
						</div>
						<div class="documents-tags">
							<div class="documents-tags__wrap">
								<div class="documents-tags__item">
									Smth here
								</div>
							</div>
							<div class="documents-tags__wrap">
								<div class="documents-tags__item">
									Smth here
								</div>
							</div>
							<div class="documents-tags__wrap">
								<div class="documents-tags__item">
									Smth here
								</div>
							</div>
							<div class="documents-tags__wrap">
								<div class="documents-tags__item">
									Smth here
								</div>
							</div>
							<div class="documents-tags__wrap">
								<div class="documents-tags__item">
									Smth here
								</div>
							</div>
							<div class="documents-tags__wrap">
								<div class="documents-tags__item">
									Smth here
								</div>
							</div>
							<div class="documents-tags__wrap">
								<div class="documents-tags__item">
									Smth here
								</div>
							</div>
						</div>
					</div>
					<div class="documents-main-row">
						<div class="documents__title">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit.
						</div>
						<div class="documents-triggers">
							<div class="documents-triggers__wrap">
								<div class="documents-triggers__item">
									<div class="documents-triggers__img">
										<img src="/assets/default.png" alt="" />
									</div>
									<div class="documents-triggers__title">
										Trigger title...
									</div>
									<div
										class="documents-triggers__description"
									>
										Lorem ipsum dolor sit amet consectetur
										adipisicing elit
									</div>
								</div>
							</div>
							<div class="documents-triggers__wrap">
								<div class="documents-triggers__item">
									<div class="documents-triggers__img">
										<img src="/assets/default.png" alt="" />
									</div>
									<div class="documents-triggers__title">
										Trigger title...
									</div>
									<div
										class="documents-triggers__description"
									>
										Lorem ipsum dolor sit amet consectetur
										adipisicing elit
									</div>
								</div>
							</div>
							<div class="documents-triggers__wrap">
								<div class="documents-triggers__item">
									<div class="documents-triggers__img">
										<img src="/assets/default.png" alt="" />
									</div>
									<div class="documents-triggers__title">
										Trigger title...
									</div>
									<div
										class="documents-triggers__description"
									>
										Lorem ipsum dolor sit amet consectetur
										adipisicing elit
									</div>
								</div>
							</div>
							<div class="documents-triggers__wrap">
								<div class="documents-triggers__item">
									<div class="documents-triggers__img">
										<img src="/assets/default.png" alt="" />
									</div>
									<div class="documents-triggers__title">
										Trigger title...
									</div>
									<div
										class="documents-triggers__description"
									>
										Lorem ipsum dolor sit amet consectetur
										adipisicing elit
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="documents-main-row">
						<div class="documents__title">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit.
						</div>
						<div class="documents-wrap">
							<div class="documents-img">
								<img src="/assets/default.png" alt="" />
							</div>
							<div class="documents-text">
								<div class="documents-text__title">
									Lorem ipsum dolor sit amet consectetur
									adipisicing elit.
								</div>
								<div class="documents-text__description">
									<p>
										Lorem ipsum dolor sit amet consectetur
										adipisicing elit. Tenetur accusantium
										quis minus mollitia voluptatum illo hic
										laborum laboriosam et commodi. Quas
										nulla doloribus mollitia vero nostrum
										laudantium dolores quidem provident.
									</p>
									<p>
										Lorem ipsum dolor sit amet consectetur,
										adipisicing elit. Sunt accusantium
										eveniet quo? Minus quisquam odit magnam
										nulla.
									</p>
									<p>
										Lorem ipsum dolor sit amet consectetur,
										adipisicing elit. Sunt accusantium
										eveniet quo? Minus quisquam odit magnam
										nulla.
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="documents-main-row">
						<div class="documents__title">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit.
						</div>
						<a href="" class="documents__btn">Press button</a>
					</div>
					<div class="documents-main-row">
						<div class="documents-products-list">
							<div class="documents-products__wrap">
								<div class="documents-products__item">
									<div class="documents-products__img">
										<img src="assets/logo.png" alt="">
									</div>
									<div class="documents-products__title">
										Title of product card here
									</div>
									<div class="documents-products__description">
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt voluptates reiciendis sequi assumenda? Illo porro qui ducimus sint provident amet, molestias ut eligendi quod cumque, laudantium dicta quasi. Iure!
									</div>
									<div class="documents-products__btn">
										<wbutton type="primary">Hello World</wbutton>
									</div>
								</div>
							</div>
							<div class="documents-products__wrap">
								<div class="documents-products__item">
									<div class="documents-products__img">
										<img src="assets/logo.png" alt="">
									</div>
									<div class="documents-products__title">
										Title of product card here
									</div>
									<div class="documents-products__description">
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt voluptates reiciendis sequi assumenda? Illo porro qui ducimus sint provident amet, molestias ut eligendi quod cumque, laudantium dicta quasi. Iure!
									</div>
									<div class="documents-products__btn">
										<wbutton type="primary">Hello World</wbutton>
									</div>
								</div>
							</div>
							<div class="documents-products__wrap">
								<div class="documents-products__item">
									<div class="documents-products__img">
										<img src="assets/logo.png" alt="">
									</div>
									<div class="documents-products__title">
										Title of product card here
									</div>
									<div class="documents-products__description">
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt voluptates reiciendis sequi assumenda? Illo porro qui ducimus sint provident amet, molestias ut eligendi quod cumque, laudantium dicta quasi. Iure!
									</div>
									<div class="documents-products__btn">
										<wbutton type="primary">Hello World</wbutton>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="documents-main-row">
						<wform
						[config]="formDoc"
					></wform>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
